# عنوان Backend API
REACT_APP_API_URL=http://localhost:5000/api

# عنوان SignalR Hub (بدون /api)
REACT_APP_SIGNALR_URL=http://localhost:5000/chatHub

# true = بيانات وهمية للشات | false = جلب من قاعدة البيانات
REACT_APP_USE_MOCK_CHAT=false
